---
// Importaciones
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import GithubButtom from "../../components/GithubButtom.astro";

// Generación de rutas estáticas
export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((project) => ({
        params: { id: project.slug },
        props: { project },
    }));
}

// Props del componente
const { project } = Astro.props;
const { slug, data } = project as CollectionEntry<'projects'>;
const { title, description, img, tags, github } = data;

const {Content} = await render(project)
---

<Layout title={`${title} - Projects`}>
    <Header />

    <div class="container w-5/6">
        <div class="flex flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row justify-around items-center">
            <div class="flex flex-row items-center gap-4 w-full">
                <a href="/">⬅ go back</a>
                <h1 class="font-bold text-3xl  text-start">{title}</h1>
            </div>
            <div class="">
                {github && <GithubButtom GithubProject={github} />}
            </div>
        </div>
        <div class="flex flex-col items-center 2xl:mx-16 2xl:my-10 lg:mx-16 lg:my-14">
            <section class="w-full lg:w-3/4 xl:w-3/4 2xl:w-3/4 flex flex-row overflow-hidden">
                {img.map((image: string) => (
                    <img src={`/Experience/${slug}/${image}`} alt={title} class="w-full img" />
                ))}
            </section>
        </div>
    </div>


    <div class="flex justify-center my-10">
        <div class="prose prose-invert text-justify lg:w-full max-w-[90ch] w-5/6 ">
            <Content/>
        </div>
    </div>
</Layout>

